@import "mocha.css";
* {
	border-radius: 8px;
	font-family: "Google Sans Mono";
	font-size: 11pt;
	min-height: 0;
}

window#waybar {
	background: @crust;
	color: @text;
}

#window {
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

#workspaces button {
	min-width: 0;
	color: #cdd6f4;
}

#workspaces button.active {
	background-color: @base;
}

#workspaces button.urgent {
	background: #d70000;
	color: #d8dee9;
}

#workspaces button:hover {
	background: @surface0;
	border-color: @surface0;
}
